@font-face {
  font-family: 'jpmuitk-icons';
  font-display: block;
  src: url('./jpmuitk-icons.woff') format('woff');
}
/* OpenSans-Light */
@font-face {
  font-family: 'jpmuitk-sans';
  font-display: swap;
  font-style: normal;
  font-weight: 200;
  src: url('./OpenSans-Light.ttf') format('truetype');
}
/* OpenSans-LightItalic */
@font-face {
  font-family: 'jpmuitk-sans';
  font-display: swap;
  font-style: italic;
  font-weight: 200;
  src: url('./OpenSans-LightItalic.ttf') format('truetype');
}

/* OpenSans-Regular */
@font-face {
  font-family: 'jpmuitk-sans';
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: url('./OpenSans-Regular.ttf') format('truetype');
}
/* OpenSans-Italic */
@font-face {
  font-family: 'jpmuitk-sans';
  font-display: swap;
  font-style: italic;
  font-weight: 400;
  src: url('./OpenSans-Italic.ttf') format('truetype');
}

/* OpenSans-SemiBold */
@font-face {
  font-family: 'jpmuitk-sans';
  font-display: swap;
  font-style: normal;
  font-weight: 600;
  src: url('./OpenSans-Semibold.ttf') format('truetype');
}
/* OpenSans-SemiBoldItalic */
@font-face {
  font-family: 'jpmuitk-sans';
  font-display: optional;
  font-style: italic;
  font-weight: 600;
  src: url('./OpenSans-SemiboldItalic.ttf') format('truetype');
}

/* OpenSans-Bold */
@font-face {
  font-family: 'jpmuitk-sans';
  font-display: swap;
  font-style: normal;
  font-weight: 700;
  src: url('./OpenSans-Bold.ttf') format('truetype');
}
/* OpenSans-BoldItalic */
@font-face {
  font-family: 'jpmuitk-sans';
  font-display: swap;
  font-style: italic;
  font-weight: 700;
  src: url('./OpenSans-BoldItalic.ttf') format('truetype');
}

/* OpenSans-ExtraBold */
@font-face {
  font-family: 'jpmuitk-sans';
  font-display: swap;
  font-style: normal;
  font-weight: 800;
  src: url('./OpenSans-ExtraBold.ttf') format('truetype');
}
/* OpenSans-ExtraBoldItalic */
@font-face {
  font-family: 'jpmuitk-sans';
  font-display: swap;
  font-style: italic;
  font-weight: 800;
  src: url('./OpenSans-ExtraBoldItalic.ttf') format('truetype');
}
