node_modules

**/.tmp/
**/dist/
**/build/

# Dependencies
**/node_modules

# Production
**/dist
**/dist-labs
**/.tmp
tsconfig.tsbuildinfo
**/snapshots

# Test Results
coverage
sonar-reports
test-report.xml
junit.xml
test-results.json

# Misc
.DS_Store
.idea
.vscode
.db
*.iml
thumbs.db

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Turbo Repo
.turbo


