node_modules

**/.tmp/
**/dist/
**/build/
**/.next/
next-env.d.ts

# Dependencies
**/node_modules

# Production
**/dist-labs/
**/.tmp/**
tsconfig.tsbuildinfo
**/public/search-data.json
**/public/sitemap.xml

# Deployment
packages/rig

# Test Results
coverage
sonar-reports
test-report.xml
junit.xml
test-results.json
test-results

# Misc
.DS_Store
.idea
.vscode
.db
*.iml
thumbs.db

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Turbo Repo
.turbo


