package.json
package-lock.json
yarn.lock
.prettierignore
.gitignore
static/scripts
CHANGELOG.md
/coverage
patches
LICENSE 
*.png
*.hbs
*.ico

**/build
**/dist
.tmp
.next
**/.env*
**/snapshots
**/public
.dockerignore
Dockerfile
Dockerfile.*