{
  "arrowParens": "avoid",
  "endOfLine": "auto",
  "jsxSingleQuote": false,
  "printWidth": 100,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "none",
  "overrides": [
    {
      "files": "*.mdx",
      "options": {
        "htmlWhitespaceSensitivity": "css"
      }
    }
  ]
}
