{
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": false,
      "decorators": true,
      "dynamicImport": true
    },
    "target": "es2022"
  },
  "module": {
    "type": "es6"
  },
  "isModule": true,
  "env": {
    "targets": {
      "node": "16.0.0"
    }
  }
}
